[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "*"
click = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
flask-wtf = "*"
itsdangerous = "*"
"jinja2" = "*"
mako = "*"
markupsafe = "*"
mccabe = "*"
pycodestyle = "*"
pyflakes = "*"
python-dateutil = "*"
python-dotenv = "*"
python-editor = "*"
six = "*"
text-unidecode = "*"
yapf = "*"
Faker = "*"
Flask = "*"
Flask-Login = "*"
SQLAlchemy = "*"
Werkzeug = "*"
WTForms = "*"

[dev-packages]
autopep8 = "*"
ipython = "*"
pylint = "*"

[requires]
python_version = "3.7"
